*, *:before, *:after { 
    box-sizing: border-box;
    outline: none;
}
      
body{
    padding: 0;
    margin: 0;
}

div{
    display: block;
}

header{
    padding: 0;
    margin: 0;
    width: 100%;
}

.map{
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 450px;
}

#faq{
    height: 30vw;
    background: linear-gradient(90deg, #0f7a0f , #99ff66);
}

.s-container{
    font-size: 18px;
    background: #fff;
    width: 60%;
    top:38%;
    left:20%;
    text-align: center;
    padding:30px 60px;
    position: relative;
    display: flex;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.s-container:hover{
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: none;
}

@-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .hvr-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

#middle{
    padding: 0;
    margin: 0;
    width: 100%;
}

#middle .container{
    text-align: center;
    padding:60px 300px 100px 300px;
    padding-bottom:100px;
}

#middle table{
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #fff;
    border-collapse: collapse;
}

#middle table thead th{
    font-size: 24px;

}

#middle table th, td {
    text-align: left;
    padding: 10px 30px;
}

#middle table tr:nth-child(even){
    background-color: rgb(248, 248, 248);
}

.hvr-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}


footer{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #0f7a0f , #99ff66);
    position: relative;
    color: #fff;
}

#contacts{
    width: 100%;
    padding: 30px 100px;

}

.contact-info{
    float: right;
}

.nav-bar{
   padding-right: 20px;
   padding-left: 20px;
   padding-top:3vh;
   width: 100%;
   overflow: hidden;
}

.nav-b-left{
    width: 50%;
    position: relative;
    float: left;
}

.nav-b-right{
    width: 50%;
    position: relative;
    float: right;
}

.gradient{
    background: linear-gradient(135deg, #0f7a0f , #99ff66);
    height:60vh;
}


.logo {
    color:#FFFF;
    font-size: 36px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    padding-left:10%;
}

h1{
    font-family: 'Open Sans Condensed', sans-serif;
   
}

h2{
    font-family: 'Open Sans Condensed', sans-serif;
}

h3{
    font-family: 'PT Sans Narrow', sans-serif;
}

p{
    font-family: 'PT Sans Narrow', sans-serif;
}

.white{
    color: #FFF;
}

nav.menu {
    list-style-type: none;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 24px;
    float: right;
}

nav.menu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.m-menu{
    float: right;
    position: relative;
    display: inline-block;
    padding-right:10%;
    padding-top:1.5vh;
}

.m-menu i {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:10px;
    
}

.clearfix { clear: both; }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'PT Sans Narrow', sans-serif;
}

.dropdown-content > a + a {
    border-top: 1px #0f7a0f solid;

}

.show {
    display:block;
}

.btn-white{
    border-radius: 5px;
    background-color: #FFF;
    color: #000;
    outline: none;
    border: none;
    padding:20px 15px;
    margin-top:-80px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    box-shadow: 0 4px rgb(182, 182, 182);
    /*border: 2px solid #8DF35F;*/
    cursor: pointer;
}

.btn-white:hover {background-color: #FFF}

.btn-white:active {
  background-color: #FFF;
  box-shadow: 0 2px rgb(146, 146, 146);
  transform: translateY(4px);
}

.btn-green{
    border-radius: 5px;
    background-color:#5DC540;
    color: #FFF;
    outline: none;
    border: none;
    padding:20px 15px;
    margin-top:-80px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    box-shadow: 0 4px rgb(182, 182, 182);
    /*border: 2px solid #8DF35F;*/
    cursor: pointer;
}

.btn-green:hover {background-color: rgb(72, 189, 52);}

.btn-green:active {
  background-color: rgb(72, 189, 52);
  box-shadow: 0 2px rgb(146, 146, 146);
  transform: translateY(4px);
}

.main-content{
    text-align: center;
    padding-bottom:65px;
}

.container {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
}

.col{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 33.33%;
}

.col h2{
    margin:10px 0px;
}

.col .m-text{
    padding: 10px 20px;
    text-align:left;
}

.col .m-text p{
    font-size: 18px;
}

.slideshow-container {
    position: relative;
    margin-top:4%;
  }
  
.slides {
    display: none;
    padding: 80px;
    text-align: center;
    color:#FFF;
    font-size: 24px;
  }

.slides p {
    font-family: 'PT Sans Narrow', sans-serif;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
.prev:hover, .next:hover {
    background-color: #FFF;
    color: black;
    margin-bottom: 40px;
  }
  
.dot-container {
    text-align: center;

  }

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #FFF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active, .dot:hover {
    background-color: #bbb;
  }


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.modal-content h2{
    text-align: center;
    -webkit-margin-before: 0.63em;
    -webkit-margin-after: 0em;
}

.make-order{
    padding:40px;
}

.make-order form{
    display: block;
    margin-top: 0em;
}

.make-order label{
    font-family: 'PT Sans Narrow', sans-serif;
}

.make-order input[type=text], 
.make-order select {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.make-order textarea[type=description]{
    width: 100%;
    height: 160px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    resize: none;
}

.make-order input[type=button]{
    border-radius: 5px;
    background-color: #FFF;
    color: #000;
    outline: none;
    border: none;
    padding: 20px 15px;
    margin-top: -80px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    box-shadow: 0 4px rgb(182, 182, 182);
    /* border: 2px solid #8DF35F; */
    cursor: pointer;
}

.make-order button{
    width: 30%;
    text-align: center;
    background-color: #5DC540;
    color: white;
    padding: 12px 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px rgb(182, 182, 182);
}

.make-order button:hover:active{
    box-shadow: 0 2px rgb(146, 146, 146);
    transform: translateY(4px);
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 0px) and (max-width: 480px) { 

    .row {
        float: left;
    }

    .gradient{
        height:20vh;
    }

    .col{
        width: 100%;
        
    }

    .slideshow-container {
        display:none;
    }

    .dot-container{
        display: none;
    }

    .menu{
        display: none;
    }

    .nav-b-left{
        width: 30%;

    } 
    
    .nav-b-right{
        width: 70%;
    }

    .nav-bar{
        height: 30vh;
     }
     
     .logo{
        padding-left: 0;
     }

}



@media only screen and (min-width: 481px) and (max-width: 804px) { 
    .row {
        float: left;
        
    }

    .gradient{
        height:30vh;
    }

    .col{
        width: 100%;
    }

    .slideshow-container {
        display:none; 
    }

    .dot-container{
        display: none;
    }

    .menu{
        display: none;
    }

    .nav-bar{
        height: 30vh;
     }
}

@media only screen and (min-width: 805px) and (max-width: 991px) {
    .row {
        float: left;
    }

    .gradient{
        height:50vh;
    }

    .col{
        width: 100%;
    }

    .dot-container{
        display: none;
    }

    .m-menu{
        display: none;
    }

    .nav-b-left{
        width: 30%;

    }
    
    .nav-b-right{
        width: 70%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .m-menu{
        display:none;
    }

}

@media (min-width: 1200px) and (max-width: 3000px) {
 

.m-menu{
    display:none;
}

}
