  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-weight: 300;
  }

  body ::-webkit-input-placeholder {
      /* WebKit browsers */
      font-family: 'Open Sans Condensed', sans-serif;
      color: white;
      font-weight: 300;
  }

  .wrapper {
      background: #99ff66;
      background: linear-gradient(135deg, #0f7a0f, #99ff66);
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
  }

  .wrapper.form-success .container h1 {
      -webkit-transform: translateY(85px);
      transform: translateY(85px);
  }

  .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 80px 0;
      height: 400px;
      text-align: center;
  }

  .container h1 {
      font-size: 40px;
      transition-duration: 1s;
      transition-timing-function: ease-in-put;
      font-weight: 200;
      font-family: 'Open Sans Condensed', sans-serif;
      color: #FFF;
  }

  form {
      padding: 20px 0;
      position: relative;
      z-index: 2;
  }

  form input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: 0;
      border: 1px solid rgba(255, 255, 255, 0.4);
      background-color: rgba(255, 255, 255, 0.2);
      width: 250px;
      border-radius: 3px;
      padding: 10px 15px;
      margin: 0 auto 10px auto;
      display: block;
      text-align: center;
      font-size: 18px;
      color: white;
      transition-duration: 0.25s;
      font-weight: 300;
  }

  form input:hover {
      background-color: rgba(255, 255, 255, 0.4);
  }

  form input:focus {
      background-color: white;
      width: 300px;
      color: #000;
  }

  form button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: 0;
      background-color: white;
      border: 0;
      padding: 10px 15px;
      color: #000;
      border-radius: 3px;
      width: 250px;
      cursor: pointer;
      font-size: 20px;
      transition-duration: 0.25s;
      font-family: 'Open Sans Condensed', sans-serif;
  }

  form button:hover {
      background-color: #f5f7f9;
  }